#leaveBtn {
  position: absolute;
  width: 110px;
  height: 20px;
  display: flex;
  font-size: 20px;

  border-radius: 4px;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue01);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#leaveBtn:hover {
  background-color: #002602;
  color: rgb(147, 147, 147);
}

/*비디오 관련*/
.participants {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.participant {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* aspect-ratio: 52/36; */
}

.participant video {
  border-radius: 10px;
  background-color: var(--black);
  width: 100%;
  /* height: 100%;
  max-width: 100%; */
  aspect-ratio: 16 / 9;
}

.participants:only-child .participant {
  width: 100%;
  height: 100%;
}

/* Two participants */
.participants.participants-2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

/* Three participants */
.participants.participants-3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

/* Four participants */
.participants.participants-4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Five participants */
.participants.participants-5 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Six participants */
.participants.participants-6 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* .camera-count-1 div {
  width: calc(100%);
  max-width: calc(70% - 10px);
}

.participants .camera-count-2 {
  width: calc(40% - 10px);
  max-width: calc(40% - 10px);
} */

/* @media (min-width: 768px) {
  .participants .camera-count-1 {
    width: calc(70% - 10px);
    min-width: 330px;
  }

  .participants .camera-count-2 {
    width: calc(40% - 10px);
    min-width: 330px;
  }
} */

.participant span {
  position: absolute;
  background-color: #212322;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.8;
  color: var(--white);
  font-weight: 700;
  bottom: 8px;
  left: 8px;
}
