#leaveBtn {
  position: absolute;
  width: 110px;
  height: 20px;
  display: flex;
  font-size: 20px;

  border-radius: 4px;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue01);
  color: white;
  font-weight: bold;
  cursor: pointer;

  z-index: 9999;
}
#leaveBtn:hover {
  background-color: #002602;
  color: rgb(147, 147, 147);
}

/*비디오 관련*/
.participants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.participants video {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--black);
}

.participants div {
  position: relative;
  aspect-ratio: 16 / 9;
}

.participants .camera-count-1 {
  width: calc(70% - 10px);
  max-width: calc(70% - 10px);
}

.participants .camera-count-2 {
  width: calc(40% - 10px);
  max-width: calc(40% - 10px);
}

/* Adjustments for different.participants  camera counts */
@media (min-width: 768px) {
  .participants .camera-count-1 {
    width: calc(70% - 10px);
    min-width: 330px;
  }

  .participants .camera-count-2 {
    width: calc(40% - 10px);
    min-width: 330px;
  }
}

.participants span {
  color: red;
  position: absolute;
  background-color: #212322;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.8;
  color: var(--white);
  font-weight: 700;
  bottom: 8px;
  left: 8px;
}
